@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --cyan: rgb(1, 120, 100);
    --white: #f7fffe;
    --palewhite: #ecf7f592;
    --gold: #C97817;
    --blacq: #02211f;
}

body{
    background-color: var(--white);
}

.container__main{
    width: 100%;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p{
    width: 100%;
    color: var(--blacq);
}

span{
    color: var(--blacq);
}

h2{
    font-size: 24px;
    font-weight: 700;
}

h3{
    font-size: 18px;
}

h4{
    font-size: 15px;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.stock__label{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--gold);
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 0 10px;
}

nav{
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.nav__menu{
    display: flex;
    gap: 1.4rem;
}

li a{
    color: var(--blacq);
    font-size: 14px;
    font-weight: 400;

}
.nav__brand{
    font-weight: 700;
    color: var(--blacq);
}

.nav__brand:hover, li a:hover{
    color: var(--cyan);
}


section{
    padding: 3rem 5rem;
}

.hero__section, .hero__section2{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content, .hero__content2{
    width: 50%;
}

.hero__content h1{
    font-size: 48px;
    font-weight: 800;
    width: 80%;
    margin: 0;
    color: var(--blacq);
}

.hero__content span, .hero__content2 span{
    color: var(--cyan);
}

.hero__content button, .hero__content2 button{
    cursor: pointer;
    font-size: 14px;
    margin-top: 2rem;
    border: none;
    border-radius: 15px;
    height: 45px;
    width: 150px;
    padding: 10px;
    background-color: var(--cyan);
    color: var(--white);
}

.hero__content button:hover, .hero__content2 button:hover{
    color: var(--cyan);
    background-color: transparent;
    border: 1px solid var(--cyan);
    transition: 0.2s;
}


.hero__image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    position: relative;
}

.hero__image img{
    width: 280px;
    height: 300px;
    object-fit: cover;
    position: absolute;
}

.hero__image .bg{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--cyan);
}

.hamburger{
    display: none;
}

.bars{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    background-color: var(--blacq);
}

.grid__container{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.section1__heading{
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: 2px solid var(--cyan) underline;
}

.card__body:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.4s all;
}

.card__body{
    position: relative;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card__img{
    width: 100%;
    height: auto;
}

.card__drescription{
    padding: 1rem 0;
}

.card__drescription h3{
   margin: 0.6rem 0;
}

.card__drescription .stars{
    font-size: 14px;
    color: var(--cyan);
    margin-bottom: 0.5rem;
}

.card__drescription span{
    font-size: 14px;
    font-weight: 600;
}

.hero__content2 h1{
    font-size: 32px;
    width: 100%;
}

.hero__content2 p{
    font-size: 14px;
    margin-bottom: 0.6rem;
}

.hero__image2{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.hero__image2 img{
    width: 260px;
    height: auto;
    object-fit: cover;
}

.customer_Reviews{
    padding: 10px 15px;
    width: 330px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--palewhite);
    text-align: center;
}

.customers{
    display: flex;
    justify-content: center;
}

.customers img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.customer_Reviews p{
    margin: 1rem 0;
    font-size: 14px;
    line-height: 1.3rem;
}

.customer_Reviews h4{
    color: var(--cyan);
}

.customer_Reviews span{
    font-size: 12px;
}

.brandLogo__div{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;

}

.brandLogo__div img{
    width: 80px;
    height: auto;
    object-fit: cover;
}

footer{
    padding: 3rem 5rem;
    background-color: var(--blacq);
}

 footer h4, .footer__grid p, .footer__grid li{
    color: var(--white);
}

.footer__grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__grid h4{
    margin-bottom: 2rem;
    font-weight: 600;
}

.footer__grid h4:hover{
    color: var(--palewhite);
}

.about__us{
    width: 30%;
}

.footer__grid li{
    font-size: 14px;
    margin: 0.6rem 0;
}

.about__us p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25rem;
}

.footer_links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer_links i{
    font-size: 14px;
}

.footer_links li:hover{
    color: var(--palewhite);
}

.social__icon{
    display: flex;
    gap: 0.6rem;
    margin: 1rem 0;

}
.social__icon a{
    color: white;
    font-size: 15px;
}
.social__icon a:hover{
    color: var(--palewhite);
}

.copywrite{
    margin-top: 1.6rem;
    text-align: center;
    color: var(--white);
    font-size: 14px;
}





/* MEDIA MEDIA MEDIA..... */


@media(max-width: 768px){
    nav{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active .bars:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .bars{
        display: block;
    }

    .nav__menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--blacq);
        width: 100%;
        transition: 0.3s ;
        text-align: center;
    }

    .nav__links{
        color: var(--white);
        transition: 1s ease;
    }

    .nav_items{
        margin: 16px 0;
    }

    .nav__menu.active{
        left: 0;
    }

    .hero__content{
        width: 80%;
    }

    .hero__content h1, .hero__content2{
        width: 100%;
    }

    .hero__image, .hero__image2{
        justify-content: flex-end;
        width: 100%;
    }

    .hero__image img{
        width: 200px;
        height: 250px;
        object-fit: cover;
        position: absolute;
    }
    
    .hero__image .bg{
        width: 258px;
        height: 252px;
    }

    .grid__container{
        justify-content: center;
    }

    .hero__image2 img{
        width: 234px;
    }

    footer{
        padding: 2rem;
    }

    .about__us{
        width: 100%;
    }

    .copywrite{
        margin-top: 3rem;
    }



}

@media(max-width: 600px){
    .hero__section{
        padding: 1rem 2rem;
        flex-wrap: wrap;
    }

    .hero__section2{
        flex-wrap: wrap;
    }

    .hero__section h1, .hero__section2{
        font-size: 38px;
    }

    .hero__image, .hero__image2{
        justify-content: flex-start;
    }

    .hero__image img{
        left: 70px;
    }

    .hero__content button, .hero__content2 button{
        margin: 2rem 0;
    }

    .hero__image .bg{
        width: 300px;
        height: 252px;
    }

    .brandLogo__div{
        flex-wrap: wrap;
    }

    .brandLogo__div img{
        width: 60px;
    }

    .footer__grid{
        flex-wrap: wrap;
    }

    .footer_links{
        flex-wrap: wrap;
        gap: 2rem;
    }

}



@media(max-width: 330px){
    .hero__section h1{
        font-size: 30px;
    }
}



@media(min-width: 1333px){
    .container__main{
        width: 1080px;

    }
}